# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Build/output
build/
dist/
*.egg-info/

# Logs
*.log

# Data
data/
datasets/
logs/
108385/